*.sln
*.suo
*.VC.db
*VC.opendb
*.vcxproj.user
*.log
/Linux_Modules/Infotainment_Prototype/bin/
/Linux_Modules/Infotainment_Prototype/obj/
/Android_UI/TelemetrySim(C#)/bin
/Android_UI/TelemetrySim(C#)/obj