 
[Unit]
Description=Infotainment
After=network.target

[Service]
ExecStart=/srv/Infotainment/Infotainment.out
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
